<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="paypalemail" value="love4anushka-facilitator@gmail.com"/>
    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    <add key="FailedURL" value="http://hosting.pocohost.com/failed.aspx"/>
    <add key="SuccessURL" value="http://hosting.pocohost.com/success.aspx"/>
    <add key="PDTToken" value="couDHRiGInNkvuKRyv_9zqwGZqnhe81UbY-OuA9WixR13tGerk75o7VHqiG"/>
    <add key="companyname" value="Pocohost"/>
    <add key="SupportEmail" value="notifications@pocohost.com"/>
    <add key="loginlink" value="http://hosting.pocohost.com/login.aspx"/>
    <add key="Email" value="notifications@pocohost.com"/>
    <add key="smtpServer" value="smtpout.secureserver.net" />
    <add key="EnableSsl" value = "false"/>
    <add key="smtpPort" value="25" />
    <add key="smtpUser" value="notifications@pocohost.com" />
    <add key="smtpPass" value="Nucleon@123" />
    <add key ="Transstate" value="Your Purchase of Order"/>
  </appSettings>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=184.168.47.19;Initial Catalog= hostingdb;User ID= hostingdb;Password=#iR62indi"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation debug="true"></compilation>
    <!--<compilation targetFramework="4.5" >
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>-->
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" protection="All" timeout="30"/>
    </authentication>
    <authorization>
      <!--<deny verbs="POST" users="*"/>-->
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!-- Add the email settings to the <system.net> element -->
  <system.net>

    <!--<mailSettings>
      <smtp>
       <network host="smtpout.secureserver.net" userName="abhishek.p@nucleon-tech.com" port="25" password="Nucleon@1019" 

defaultCredentials="false" />
      </smtp>
    </mailSettings>-->
  </system.net>

</configuration>